body {
    display: flex;
    justify-content: center;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar a {
    text-decoration: none;
    color: #333;
    margin: 10px 10px;
    position: relative;
    padding: 10px 10px;
}

/* Create the top line */
.navbar a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #333;
    transition: width 2s;
}

.navbar a::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    background-color: #333;
    transition: width 2s;
}

.navbar a:hover::before,
.navbar a:hover::after {
    width: 100%;
}