body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}
.sec h1{
    background-color: red;
    color: white;
    font-weight: bold;
    transform: translate(0,40vh) rotate(10deg);
}
.sec h2{
    background-color: yellow;
    color: white;
    font-weight: bold;
    transform: translate(0,41vh) rotate(-10deg);
}
.sec h3{
    background-color: green;
    color: white;
    font-weight: bold;
    transform: translate(0,40vh) rotate(5deg);
}